.rayure-grise {
    @include rayure-grise;
  }
  
.animbloc1{
    opacity: 0;
    animation: animbloc1 2s ease-out forwards;
}

@keyframes animbloc1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.animbloc2{
    // animation: animbloc2 3s alternate;
    animation: animbloc2 3s ease-out infinite alternate, animbloc3 4s linear infinite alternate;
    transform-origin: 0% 50%;
}

@keyframes animbloc2{
    from{
        transform:scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

// .animbloc3{
//     animation: animbloc3 4s linear infinite alternate;
// }

@keyframes animbloc3{
    from{
        transform: rotate(-5deg);
    }
    to{
        transform: rotate(5deg);
    }
}
